html, body{
  height: 100%;
    font-size: 62.5%;
}

body{
  margin: 0;
  background:
linear-gradient(135deg, black 21px, #505050 22px, #505050 24px, transparent 24px, transparent 67px, #505050 67px, #505050 69px, transparent 69px),
linear-gradient(225deg, black 21px, #505050 22px, #505050 24px, transparent 24px, transparent 67px, #505050 67px, #505050 69px, transparent 69px)0 64px;
background-color: black;
background-size: 64px 128px;
}

footer{
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center; 
}

#social{
    margin: 2vw 2vw;
}

/* nav bar css*/

.desktop{
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
    font-family: 'Rock Salt', cursive;
}

.desktop a{
  text-decoration: none;
  color: white;
  margin: 0 3vw;
    font-size: 2rem;
}

.desktop a:hover{
    color: turquoise;
    text-shadow: 0 0 5px orchid, 0 0 10px orchid, 0 0 15px orchid, 0 0 20px orchid, 0 0 30px orchid, 0 0 40px orchid, 0 0 55px orchid, 0 0 75px orchid, 2px 2px 2px rgba(255,0,0,0);
}

.mobile{
    display: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.drop-button{
  font-size: 2rem;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.drop-content{
    display: none;
    position: absolute;
    z-index: 1;
}

.drop-content a{
    float: none;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    background-color: black;
    border-radius: 15px 15px 15px 15px;
    border-bottom: 2px solid grey;
    width: 10vw
}

.desktop .dropdown:hover .drop-content{
    display: block;
}

#logo{
  width: 25%;
  height: auto;
}

#logo-img{
    width: 100%;
    height: auto;
}

/*index css*/

.members, .dates{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}



.member {
  text-decoration: none;
  margin: 1vw 0.5vw;
    width: 25vw;
    height: 21.5vw;
    position: relative;
}


section img{
    width: 24.5vw;
    height: 21vw;
    padding: 0.25vw 0.25vw 0.25vw 0.25vw;
}


/* tour dates css*/


.dates{
    font-family: 'Bowlby One', cursive; 
    color: white;
    font-size: 2rem;
}
.date{
    width: 10vw;
    height: auto;
}

.venue{
    width: 50vw;
    height: auto;
}
.tickets{
    width: 10vw;
    height: auto;
}

.tickets a{
    text-decoration: none;
    color: white;
}

.tickets a:hover{
    color: turquoise;
    text-shadow: 0 0 5px orchid, 0 0 10px orchid, 0 0 15px orchid, 0 0 20px orchid, 0 0 30px orchid, 0 0 40px orchid, 0 0 55px orchid, 0 0 75px orchid, 2px 2px 2px rgba(255,0,0,0);
}


.dates li{
    display: flex;
    align-content: center;
    padding-bottom:3vh;
}

.dates div{
    background-color: black;
    margin-left: 3vw;
    border-radius: 15px 15px 15px 15px;
    border-bottom: 2px solid grey;
    text-align: center;
}

.dates a{
    text-align: center;
    margin: 0px;
}

/*video css*/

.video {
    text-align: center;
    margin-bottom: 5vh;
}

.yt-videos .column{
    width: 33.3%;
    float: left;
    height: 100%;
}

/* album css*/

.albums .column{
    width: 33.3%;
    float: left;
    height: 100%;
}

.album{
    text-align: center;
    margin-bottom: 5vh;
}

/* shop css*/

.shop{
    width: 100%;
    height: auto;
}

.shop p{
    width: 75%;
    color: black;
    text-align: center;
    font-size: 2rem;
    font-family: 'Bowlby One', cursive;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}


.shop div{
  float: left;
    width: 33.3%;
    height: 100%;
}

.shop img, .shop button{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.shop button{
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
    border-radius: 15px;
}

.shop img{
    padding: 0px;
    border: solid 5px grey;
    border-radius: 15px;
    margin-top: 5vh;
}

/*customizer css*/
.options{
    width: 100%;
    height: auto;
}

.canvas{
    width: 100%;
    height: auto;
}

.canvas div{
    margin-left: 30vw;
    margin-right: 30vw;
}

canvas{
    width: 40vw;
    height: 40vw;
    background-color: white;
}

.options div{
    width: 25%;
    float: left;
}

.options p{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Bowlby One', cursive;
}

.options div img{
    width: 10vw;
    height: 10vw;
    margin: 0vw 7.5vw 2vw 7.5vw;
}

.options div button{
    align-content: center;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: 'Bowlby One', cursive;
}

/* mobile css*/

@media screen and (max-width: 420px) {
    footer{
        display: none;
    }
    
    /* nav css*/
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
        width: 100%;
        height: auto;
    }

    
    .dropdown{
        float: left;
        overflow: hidden;
        width: 100%;
        text-align: center;
    }

    .drop-button{
        font-size: 3rem;  
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        height: auto;
        font-family: 'Rock Salt', cursive;
    }

    .drop-content{
        float: left;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: auto;
    }

    .drop-content a, .drop-content p{
        float: none;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        margin: 0px;
        background-color: black;
        border-radius: 15px 15px 15px 15px;
        border-bottom: 2px solid grey;
        width: 100%;
        height: 10vh;
        color: white;
        font-size: 3rem;
        z-index: 1;
        font-family: 'Bowlby One', cursive;
    }

    #drop{
        display: none;
    }
    
    /*tour dates css*/
    .dates{
        font-size: 0.5rem;
    }
    
    /* shop css*/
    .shop div{
        width: 100%;
    }
    
    /*albums css*/
    .albums .column{
        width: 100%;
    }
    
    /*videos css*/
    .yt-videos .column{
        width: 100%;
    }
}
